/*Classes*/

#querybuilder .queryresults-button {
    height: 25px;
    width: 33px;
    margin: 0px;
    background: none !important;
    color: #fd6808;
    font-size: 18px !important;
    border: 0 !important;
}

#querybuilder .querybuilder-button {
    height: 50px;
    width: 66px;
    margin: 0px;
    background: none !important;
    color: #fd6808;
    font-size: 45px !important;
    border: 0 !important;
}

#querybuilder .query-item-label {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fd6808;
    float: left;
    margin-right: 25px;
    width: 75px;
}

#querybuilder .query-item-option {
    width: 450px !important;
    height: 40px !important;
    padding: 8px 12px !important;
    font-size: 22px !important;
    line-height: 30px !important;
    border: 2px solid #fd6808 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    float: left;
}

#querybuilder .query-item-button {
    height: 20px;
    width: 30px;
    margin: 0px;
    background: none !important;
    color: #fd6808;
    font-size: 35px !important;
    border: 0 !important;
    float: right;
}

#querybuilder .query-item {
    margin-bottom: 25px;
}

#querybuilder .clearer {
    clear: both;
}

#querybuilder .center-content{
    text-align: center;
}

/*IDs*/

#querybuilder {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
    height: 100%;
    width: 100%;
}

#query-builder-container {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 600px;
    top: 30%;
}

#query-results-container {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 800px;
    top: 20%;
}

#add-query-btn {
    float: left;
    cursor: default;
}

#query-typeahead {
    float: right;
    width: 500px;
    height: 40px;
}

#add-new-query-container {
    height: 40px;
}

#querybuilder-footer {
    clear: both;
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    left: 0;
    right: 0;
    width: 80px;
}

#query-results-label {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #fd6808;
}

/*Search box*/

#querybuilder .typeahead,
#querybuilder .tt-query,
#querybuilder .tt-hint {
    width: 500px !important;
    height: 40px !important;
    padding: 8px 12px !important;
    font-size: 22px !important;
    line-height: 30px !important;
    border: 2px solid #fd6808 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    float: right;
}

#querybuilder .twitter-typeahead {
    float: right;
}

#querybuilder .typeahead {
    background-color: rgba(255, 255, 255, 0.9);
}

#querybuilder .typeahead:focus {
    border: 2px solid #fd6808;
}

#querybuilder .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#querybuilder .tt-hint {
    color: #999
}

#querybuilder .tt-menu {
    width: 500px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    max-height: 150px;
    overflow-y: auto;
}

#querybuilder .tt-suggestion {
    padding: 3px 20px;
    font-size: 13px;
    line-height: 24px;
}

#querybuilder .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #aaaaaa;
}

#querybuilder .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #aaaaaa;

}

#querybuilder .tt-suggestion p {
    margin: 0;
}

/* Grid styling */

#querybuilder .griddle {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    top: 50px;
}

#querybuilder .griddle .top-section {
    clear: both;
    display: table;
    width: 100%;
}

#querybuilder .griddle .griddle-filter {
    float: left;
    width: 99%;
    text-align: left;
    color: #FFFFFF;
    min-height: 1px;
    margin-bottom: 10px;
    background-color: rgba(66, 59, 59, 0.70);
}

#querybuilder .griddle .griddle-filter .form-control {
    color: #808080;;
    background-color: rgb(255, 255, 255);
    font-size: 22px !important;
    line-height: 30px !important;
    border: 2px solid #fd6808 !important;
}

#querybuilder .griddle .griddle-settings-toggle {
    float: left;
    width: 50%;
    text-align: right;
}

#querybuilder .griddle .griddle-settings {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #222;
    padding: 10px;
    margin-bottom: 10px;
}

#querybuilder .griddle .griddle-settings .griddle-columns {
    clear: both;
    display: table;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
}

#querybuilder .griddle .griddle-settings .griddle-column-selection {
    float: left;
    width: 20%;
}

#querybuilder .griddle table {
    width: 100%;
    table-layout: fixed;
}

#querybuilder .img-column .tooltip-arrow {
    border-left-color: rgba(255, 255, 255, 0.7) !important;
}

#querybuilder .griddle th {
    background-color: rgba(66, 59, 59, 0.70);
    border: 0px;
    color: #FD6808;
    padding: 5px;
    text-align: center;
}

#querybuilder .griddle td {
    padding: 5px;
    background-color: rgba(66, 59, 59, 0.70);
    color: #FFF;
    border-bottom: 1px dashed;
    border-color: rgba(255, 255, 255, 0.2);
    text-align: left;
}

#querybuilder .griddle .footer-container {
    padding: 0px;
    color: #ffffff;
    border: 0px;
}

#querybuilder .griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next
{
    float: left;
    width: 33%;
    min-height: 1px;
    margin-top: 5px;
}

#querybuilder .griddle .griddle-page {
    text-align: center;
}

#querybuilder .griddle .griddle-next {
    text-align: right;
}

#querybuilder .griddle button {
    backround: transparent;
    color: #FD6808;
}

#querybuilder .griddle button:hover {
    backround: transparent;
    color: #fc4b19;
}