#querybuilder {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.querybuilder-button {
    height: 50px;
    width: 66px;
    margin: 0px;
    background: none !important;
    color: #fd6808;
    font-size: 45px !important;
    border: 0 !important;
}