*.class
*.DS_Store
src/main/webapp/
node_modules/
node/

# Package Files #
*.jar
*.war
*.ear

# Editor byproducts
.idea/
.vscode/
*.swp
/target
/bin
.idea/
*.iml
*~
.imdone/
/.externalToolBuilders/
/.settings/*
.classpath
/libjhdf5.jnilib

# redis cache files
*.rdb
