*.class
*.DS_Store
src/main/webapp/META-INF
src/main/webapp/js/jsdocs
node_modules/
node/
src/main/webapp/js/components/dist/
src/main/webapp/dashboard/api/session.json

# Build js, css
bin/
src/main/webapp/js/main-built.js
src/main/webapp/css/main.css

# Package Files #
*.jar
*.war
*.ear

# Editor byproducts
.idea/
*.swp
/target
/bin
.idea/
*.iml
*~
.imdone/
/.externalToolBuilders/
/.settings/
.classpath

#WormSim specific stuff
*.css-e
*.less-e
src/main/webapp/js/components/dev/customrenderer/
src/main/webapp/js/components/dev/wormsimbuttonbar/
src/main/webapp/js/components/dev/wormsimlogo/
src/main/webapp/js/components/dev/wormsimsimulationcontrols/
src/main/webapp/js/components/dev/wormsimtutorialhandler/
src/main/webapp/js/components/wormsim.*

#other local directories that may get installed
org.geppetto.core/
org.geppetto.model/
org.geppetto.simulation/
