*.class
*.DS_Store
src/main/webapp/META-INF
src/main/webapp/js/jsdocs 
node_modules*

# Build js, css
bin/
src/main/webapp/js/main-built.js
src/main/webapp/css/main.css

# Package Files #
*.jar
*.war
*.ear

# Editor byproducts
*.swp
.settings/
/target
*~
