language: node_js
os: linux
sudo: required
dist: trusty
bundler_args: --retry 5
node_js:
  - "7"
env:
  global:
    secure: dn0FPQ5IG4M/3kdwnyI78ElQ308Vc3QnKAvkWfwMFb8QxDqxQdnTo7AV1qTMtbLrDNkeEWIgi4nc7jmXNtvGTwOfhAULVh6606Qs5B+ezTdwzajbbFMI8SKQx/pnTojOMu8dx7V4lMoR/YWcojR0VC1IWVC62TGbSB1k5BDGgH0=
install:
- npm install --silent -g phantomjs 
- npm install --silent -g casperjs 
- npm install --silent -g slimerjs
- npm install --silent -g gl
- npm config set registry http://registry.npmjs.org/

services:
  - docker
addons:
  firefox: "58.0"
  apt:
    packages:
    - mesa-utils
    - xvfb
    - libgl1-mesa-dri
    - libglapi-mesa
    - libosmesa6
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - export SLIMERJSLAUNCHER=/home/travis/firefox-58.0/firefox/firefox
  - export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/
script:
  - npm config set registry http://registry.npmjs.org/
  - echo "Current time :$(date +"%T")"
  - cd $TRAVIS_BUILD_DIR/src/main/webapp/js/pages/tests/casperjs
  - echo "$TRAVIS_BRANCH"
  - travis_retry docker build -t="geppetto" --build-arg frontendBranch=$TRAVIS_BRANCH https://github.com/openworm/org.geppetto.git#update-virgo:utilities/docker/geppetto/
  - echo "Current time :$(date +"%T")"
  - travis_retry docker run  -t -dit --name=geppetto_container --net=host geppetto
  - bash $TRAVIS_BUILD_DIR/src/main/webapp/js/pages/tests/casperjs/utilities/test_geppetto_server.sh
  - sleep 30
  - http_status=$(curl -s -I $1 http://localhost:8080/org.geppetto.frontend | grep HTTP/1.1 | awk {'print $2'})
  - echo "$http_status"
  - while [ "$http_status" == "404" ]; do
      echo "Restart run";
      echo "Printing logs for debugging purposes";
      sudo docker cp geppetto_container:/home/developer/virgo/serviceability/logs/log.log /etc;
      tail -n 200 /etc/log.log;
      docker stop $(docker ps -a -q);
      sleep 10;
      docker rm $(docker ps -a -q);
      sleep 10;
      travis_retry docker run  -t -dit --name=geppetto_container --net=host geppetto;
      bash $TRAVIS_BUILD_DIR/src/main/webapp/js/pages/tests/casperjs/utilities/test_geppetto_server.sh;
      sleep 60;
      http_status=$(curl -s -I $1 http://localhost:8080/org.geppetto.frontend | grep HTTP/1.1 | awk {'print $2'});
      echo "Done restarting";
      echo "$http_status";
    done;
  - "curl -s -I $1 http://localhost:8080/org.geppetto.frontend | grep HTTP/1.1 | awk {'print $2'}"
  - sudo docker cp geppetto_container:/home/developer/virgo/serviceability/logs/log.log /etc
  - tail /etc/log.log -n 500
  - travis_retry xvfb-run -a --server-args="-screen 0 1024x768x24"  casperjs test --includes=utilities/TestsUtility.js UIComponentsTests.js --host=http://localhost:8080/ --engine=slimerjs  
  - travis_retry xvfb-run -a --server-args="-screen 0 1024x768x24"  casperjs test --includes=utilities/TestsUtility.js GeppettoModelTests.js --host=http://localhost:8080/ --engine=slimerjs 
  - travis_retry xvfb-run -a --server-args="-screen 0 1024x768x24"  casperjs test --includes=utilities/TestsUtility.js,NeuronalTestsLogic.js DefaultProjectsTests.js --host=http://localhost:8080/ --engine=slimerjs  
  - sudo docker cp geppetto_container:/home/developer/virgo/serviceability/logs/log.log /etc
  - tail /etc/log.log -n 200
  - echo "Current time :$(date +"%T")"
  - docker stop $(docker ps -a -q)
  - docker rm $(docker ps -a -q)