language: java

before_script:
    - npm install -g bower

install:
    - git clone https://github.com/openworm/org.geppetto.model.git -b $TRAVIS_BRANCH
    - cd org.geppetto.model
    - mvn install
    - cd ..
    - git clone https://github.com/openworm/org.geppetto.core.git -b $TRAVIS_BRANCH
    - cd org.geppetto.core
    - mvn install
    - cd .. 
    - git clone https://github.com/openworm/org.geppetto.simulation.git -b $TRAVIS_BRANCH
    - cd org.geppetto.simulation
    - mvn install
    - cd .. 
