@import "bootstrap/bootstrap";
@import "components/colors";
@import "components/controls";
@import "components/console";
@import "components/modal";
@import "components/tutorial";
@import "components/share-slider";
@import "components/footer";
@import "components/icons/geppetto-logo";
@import "components/icons/github-logo";
@import "components/ExperimentsTable";

html {
  height: 100%;
  width: 100%;
}

.noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;

}

#sim {
  width: 100%;
  float: left;
  height: 100%;
}

#mainContainer {
  height: 100%
}

.btn {
  padding: 4px 12px;
}

.btn:focus {
  outline: none;
}

.icon-4x {
  font-size: 4em;
}

.btn, .btn-warning {
  border-radius: 0 !important;
}

.btn:disabled:not(.SaveButton) {
  background: #8E8383;
}

.btn:not(ul):not(.btn-warning):not([disabled]) {
  background: rgba(66, 59, 59, 0.8);
  color: @orange;
}

.btn:hover:not(ul):not(.btn-warning):not([disabled]) {
  background: @orange;
  color: white;
}

.btn-warning:hover:not(ul):not(.btn-warning):not([disabled]) {
  background: @orange;
  color: white;
}

.nav-tabs > li > a {
  border-radius: 0 !important;
}

#habla_topbar_div {
  background: rgba(66, 59, 59, 0.8);
  border-radius: 0 !important;
}

.hbl_pal_title_bg {
  background-color: rgba(66, 59, 59, 0.8) !important;
}

.btn-info {
  background-color: #0e6c6f;
  border-color: #0e6c6f;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}