.invert{
    filter: invert(100%);
}
.center{
	margin: 0 auto;
    display: block;
    margin-bottom:20px;
    margin-top:20px;
}
.tutorial-message{
	display: inline-block;
	width: auto;
	minHeight: 0px;
	maxHeight: none;
	height: 80%;
	width:100%;
	color: #fc6320;
	overflow: scroll!important;
}

.tutorial-message a{
	cursor:pointer;
}

#ignoreTutorial {
	width: auto;
	margin-top:15px;
	color: #fc6320;
}

.tutorial-buttons{
	width: 100%;
    text-align: center;
}

.cookieTutorial {
	
}

.prevBtn{
	border: 0;
    background-color: transparent!important;
}

.nextBtn{
	border: 0;
    background-color: transparent!important;
}

#tutorialIcon{
	color:#fc2320;
	width: 100%;
    text-align: center;
    margin-bottom:10px;
}

.tutorialTitle{
	font-size : 16px;
	padding: 0 !important;
    margin: 0 !important;
    font-weight: bold;
    color: #fd6808;
    margin-left: 5px;
}

.showTutorial {
	display : block;
}

.hideTutorial {
	display : none;
}