<div class="project-preview" project-id="{{id}}" title="{{name}}  Double-click to open project">
    <div class="row">
        <div class="img-thumbnail project-preview-tn" style="display: inline-block; width: 128px; min-width: 128px;">
        	<img src="imgs/geppettosymbol.png" width=100 style="width: 100%; height: 100%; "/>
        </div>
    </div>
    <div class="row project-preview-caption">
        <span style="display: inline-block; float: left; width: 124px; ">{{displayName}}</span>
    </div>
</div>