<div class="project-preview" project-id="{{id}}" title="{{name}}  Double-click to open project">
    <div class="row">
        <div class="img-thumbnail project-preview-tn">
        	<img src="imgs/geppettosymbol.png" width=100 style="display: block; margin: auto;"/>
        </div>
    </div>
    <div class="row project-preview-caption">
        {{displayName}}
    </div>
</div>