<div class="project-preview" project-id="{{id}}">
    <div class="row">
        <div class="img-thumbnail project-preview-tn"></div>
    </div>
    <div class="row project-preview-caption">
        {{name}}
    </div>
</div>