<div>
<div id="wrapper">
	<div id="nav-bar" class="sidebar">
		<div id="views" class="btn-group-horizontal">
    		<button type="button" class="btn btn-primary btn-lg raised" id="users-view">Users</button>
    		<button type="button" class="btn btn-success btn-lg raised" id="simulations-view">Simulations</button>
    		<button type="button" class="btn btn-danger btn-lg raised" id="errors-view">Errors</button>
    	</div>
	</div>
</div>
<div id="currentView">
</div>
</div>