#help-modal{
	top : 10%;
	font-family : 'Helvetica Neue';
	font-weight:200;
	
	h4 {
    	color:@orange;
	}

	p {
	color:white;
	}

	p#darkblue {
	   display:block;
	   color:darkblue;
	}

	p#lightblue {
	    display:block;
	    color:lightblue;
	}
	
	p#yellow {
	    display:block;
	    color:yellow;
	}

	p#mistyrose {
	    display:block;
	    color:mistyrose;
	}
	
	p#orange {
	    display:block;
	    color:orange;
	}
	
	p#red {
	    display:block;
	    color:red;
	}
	
	p#green {
	    display:block;
	    color:limegreen;
	}
	
	h4.modal-title {
	    text-align: center;
	}
	
	.modal-body{
		overflow-y : auto;
	}
		
	.btn, .label {
	    margin-left:3px;
	    margin-right:3px;
	}
	
	
	.icon-question-sign {
	    margin-left: 5px;
	    font-size: 20px;
	}
	
}
