<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GEPPETTO Tests for the persistence layer</title>
    <link rel="stylesheet" href="geppetto/css/qunit.css">
    <link rel="stylesheet" href="geppetto/css/custom-theme/jquery-ui-1.10.0.custom.css" />

    <script>
        var path = "org.geppetto.frontend";
        if(path === "") {
            window.BUNDLE_CONTEXT_PATH = "org.geppetto.frontend";
        } else if(path === "/") {
            window.BUNDLE_CONTEXT_PATH = "";
        } else {
            window.BUNDLE_CONTEXT_PATH = path;
        }

        window.USE_SSL = false;
    </script>

    <script type="text/template" id="tplSandbox">
        <pre class="output"></pre>
        <div class="input">
            <textarea rows="1" id="commandInputArea" placeholder="<%= placeholder %>"></textarea>
        </div>
    </script>

    <!-- The contextual menu template: -->
    <script type="text/template" id="tplContextMenu">
    </script>
    <script type="text/template" id="tplContextMenuItems">
        <li id="<%= this.cid %>">
            <%= label %>
        </li>
    </script>

    <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
    <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
    <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
    <% } %></script>

    <script type="text/template" id="tplDebug"><span class="<%= _class %>"><%= result %></span></script>
	<!-- comment out to try new test framework
    <script data-main="geppetto/js/GeppettoPersistenceTests.js" src="geppetto/js/vendor/require.js"></script>
	-->
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture">
    <div id="modal-region"></div>
    <div id="sim"></div>
    <div id="console">Console Loading...</div>
    <!--new test framework testing -->
    <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
	<!--<script data-main="geppetto/js/GeppettoPersistenceTests.js" src="geppetto/js/vendor/require.js"></script>-->
    <script data-main="geppetto/js/tests/QUnitPersistenceTests-alt.js" src="geppetto/js/vendor/require.js"></script>
    
    <!--<script src="geppetto/js/tests/QUnitPersistenceTests-alt.js"></script>-->
    <!--end new test framework testing -->
</div>
</body>
</html>