.dropDownButton {
  position: fixed;
  height:27px
}

.dropDownButton:disabled{
	background:0;
	color:@orange;
}

.DropDownButton {
  position: fixed;
  top: 5px;
  right: 390px;
  height:28px
}

.DropDownButton:disabled{
	background:0;
	color:@orange;
}

#dropDownPanel {
    position: fixed;
    display: none;
    z-index: 99;
    height: auto;
    width: auto;    
    border-radius: 0px;
    border-style: solid;
    border-color: #fd6808;
    border-width: 2px;
}

.dropDownTable {
	color : #fd6808;
	font-size : 20px;
	color: #fd6808;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.dropDownTable label {
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size : 16px;
}

.dropDownItem {
	display : inline-block;
}

.selectedStatus{
	width : 50px;
	padding-left: 15px;
}

.dropDownLabel {
	padding: 5px 20px 5px 0;	
}

.dropDownTable tr:nth-child(2) {
	background:#272222;
}

.tooltip-persist {
	height: 25px;
	max-width: 800px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 2px 4px 2px 4px;
	background: white;
	opacity: 1;
	left : 20px;
}

.resultsLabel {
	padding-left: 4px;
    font-size: 14px;
    /* font-family: inherit; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}