.dropDownButton {
  position: fixed;
  height:27px
}

.dropDownButtonContainer:disabled{
	background:0;
	color:@orange;
}

.dropDownButton {
  position: fixed;
  top: 5px;
  right: 390px;
  height:28px
}

.dropDownButton:disabled{
	background:0;
	color:@orange;
}

#dropDownPanel {
    position: fixed;
    display: none;
    z-index: 99;
    height: auto;
    width: auto;    
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(66, 59, 59, 0.90);
}

.dropDownTable {
	color: #fd6808;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.dropDownTable label {
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size : 14px;
}

.dropDownItem {
	display : inline-block;
}

.selectedStatus{
	width : 50px;
	padding-left: 15px;
}

.dropDownLabel {
	padding: 5px 20px 5px 0;	
}

.dropDownTable tr{
	cursor:pointer;
}
.dropDownTable tr:hover {
	background-color:#fd6808;
	color:white;
}

.tooltip-persist {
	height: 25px;
	max-width: 800px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 2px 4px 2px 4px;
	background: white;
	opacity: 1;
	left : 20px;
}