@import "./../../../../style/less/components/colors";

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.geppettoDrawer {
display: inline-block;
width: 100%;
height: 100%;
max-height : ~"calc(100% - 40px)";
}

.tabber {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  border-bottom: 0.5px solid @primary_color;
  width: 100%;
  height: 35px;
  display: block;
  margin-top: 0px;
  text-decoration: none;
  left: 0;
  bottom: 0;
  position: absolute;
  background: transparent;
}

.tabButton {
  color: @background_color_widget;
  background-color: @primary_color;
	margin: 0 auto;
	margin-bottom: 26px;
  position: relative;
  border-color: @primary_color;
  border: 0.5px;
  border-bottom: 0px;
	border-style: solid;
	box-shadow: none;
	text-shadow: none;
	width: 140px;
	height: 35px;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  bottom: 0;
  cursor: pointer!important;
}

.tabButton:hover {
  color: @primary_color;
  background-color: @background_color_widget;
  border-color: @primary_color;
  opacity: 0.8;
}

.buttonSelected {
  color: @primary_color;
  background-color: @background_color_widget;
  border-color: @primary_color;
  opacity: 0.8;
}

.drawer {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 250px;
  width: 100%;
  background-color: @background_color_widget;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none;
  transition: opacity 1s ease-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  background: @background_color_widget;
  opacity: 0.8;
}

.innerDrawer {
  position: relative;
}

.hiddenComponent {
  display: none;
}

.visibleComponent {
  display: block;
}
