/**
 * basic styles for the javascript sandbox console - joss crowcroft
 *
 * http://josscrowcroft.github.com/javascript-console-console/
 */

#console,
#console pre.output,
#console pre.output span,
#console textarea,
#console textarea:focus {
	font-size:12px;
	line-height:1.3;
	font-weight: normal;
	font-family:"Consolas", "Andale Mono", "Courier New", "Courier", monospace;
	border:0 none;
	outline:0 none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
}
#console {
	background:rgba(66,59,59,0.50);
	color: #ccc;
	padding:20px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	height: 250px;
	width: 100%;
	max-height: 100%;
	display: none;
	float: left;
	clear: none;
}
#console pre.output {
	display:block;
	white-space:pre;
	width:100%;
	max-height:80%;
	height: 80%;
	position:relative;
	overflow-y: auto;
	padding:0;
	margin:0 0 10px;
	border:0 none;
	background:transparent
}

#console pre.output span           { color:#f7f7f7; }
#console pre.output span.command   { color:#ccc; }
#console pre.output span.prefix    { color:#777; }
#console pre.output span.undefined { color:#777; }
#console pre.output span.string    { color:#99f; }
#console pre.output span.number    { color:#7f7; }
#console pre.output span.error     { color:#f77; }
#console pre.output span.debug     { color: gold; }

#console .input {
	padding:0 0 0 15px;
	position:relative;
	height: 2%;
	min-height: 15px;
	width: 100%;
}
#console .input:before {
	content:">";
	position:absolute;
	top: 1px;
	left: 0;
	color:#ddd
}
#console textarea {
	color:#f7f7f7;
	background:transparent;
	border:0 none;
	outline:0 none;
	padding:0;
	margin:0;
	resize: none;
	width:100%;
	overflow:hidden;
}
#console textarea:focus {
	outline:0 none;
}


#console pre.output::-webkit-scrollbar,
#console pre.output::-webkit-scrollbar-button,
#console pre.output::-webkit-scrollbar-track,
#console pre.output::-webkit-scrollbar-track-piece,
#console pre.output::-webkit-scrollbar-thumb,
#console pre.output::-webkit-scrollbar-corner,
#console pre.output::-webkit-resizer {
	background: transparent;
}
#console pre.output::-webkit-scrollbar {
	width:  7px;
	height: 7px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#console pre.output::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
#console pre.output::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	        border-radius: 5px;
}
#console pre.output::-webkit-scrollbar-button {
	width:0;
	height:0;
}

.ui-resizable-n {
	height: 4px;
	top: 0px;
	background : #211d1d;
}
