html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#logo-container {
	margin: 10px auto 0 auto;
	width: 100px;
}

#logo-image {
	height: 98px;
	width: 100px;
}

#dialog-message {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

p {
	text-align: center;
	margin: .5em 2em;
}
#geppettologo {
	background-image: URL("../images/geppetto.png");
	width: 200px;
	height: 66px;
	left: 5px;
	float: left;
	bottom: 0px;
	margin-bottom: -5px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#geppettologo {
	background-image: url("../images/geppetto@2x.png");
	background-size: 200px 66px;
}
}

#position_toolbar {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

#sim_toolbar {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 400px;
	height: 100px;
}

.rotate90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

.dg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
.ui-widget {
}

.squareB {
	width: 25px !important;
	height: 25px !important;
	position: absolute;
	padding: 0;
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
	margin-left: 5px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

.popover {
	font-size: 14px;
	font-weight: 200;
}

#alertbox {
	display: none;
	margin-top: 20px;
	width: 330px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}

#loadSimModal .modal-input label {
	float: left;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

#loadSimModal .modal-body {
	overflow : visible;	
}

.btn-group .btn {
	width: 500px;
}

.btn span {
	float: left;
}


.dropdown-menu {
	width: 100%;
}

.dropdown-menu > li > a:hover {
	cursor: pointer;
}
.btn .caret {
	float: right;
}

.loading.modal.fade {
	top: -25%;
	background: rgba(255, 255, 255, 0);
}
.loading.modal.fade.in {
	top: 40%;
	background: rgba(255, 255, 255, 0);
}
.icon-4x {
	font-size: 4em;
}
.orange {
	color: #fd6808;
}

#loadSimModal {
	width: 700px;
}
#url {
	width: 515px;
	overflow: hidden;
}

#input label {
	float: left;
	width: 70px;
	padding-top: 0px;
}

.form-horizontal .controls {
	margin-left: 120px;
}

#fullscreen {
	position: absolute;
	top: 66px;
	right: 38px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

#javascriptFullscreen {
	position: absolute;
	top: 16px;
	right: 18px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.CodeMirror-fullscreen {
	display: block;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	z-index: 9999!important;
}

#fullscreen:hover {
	color: gray;
}
.CodeMirror {
	border: 1px solid #cccccc;
	width: 500px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#consoleButton {
	margin: 0 auto;
	position: relative;
	background: rgba(66,59,59,0.50);
	color: #fd6808;
	bottom: -26px;
	border-color: #2e2828;
	border-width: 0;
	box-shadow:none;
	text-shadow: none;
	border-radius: 0;
	width: 120px;
	height: 35px;
}

#consoleButtonContainer{
	width:120px;
	margin: 0 auto;
}

#consoleButton .icon-terminal{
	margin-right: 5px;
}

#sim {
	width: 100%;
	float: left;
	height: 100%;
}

#mainContainer {
	height: 100%
}

#footerHeader {
	position: relative;
	width: 100%;
	float: left;
	clear: none;
}

#infomodal .modal-body{
	overflow: auto;
	max-height: 50%;
}

.welcomeTitle {
	font-family : 'FontAwesome';
	color : darkblue;	
}
.wmCheckBoxDiv {
	float : left;
}

.welcomeMsgLogo {
	float : left;
	width: 40%;
	height: 30%;
}

.messageBody {
	font-family : 'FontAwesome';
	overflow : hidden;
}

#welcomeMessageModal {
	top : 25%;
}

#welcomeMessageModal .modal-header {
	padding : 0px;
}

#multiUserNotification .modal-header {
	padding : 0px;
}

#capacityNotificationTitle {
	color : darkblue;
}

#multiUserNotification label {
	font-weight : bold;
}

#multiUserNotification{
	opacity : 0.8;
}