html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#logo-container {
	margin: 10px auto 0 auto;
	width: 100px;
}

#logo-image {
	height: 98px;
	width: 100px;
}

#dialog-message {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

p {
	text-align: center;
	margin: .5em 2em;
}

#helpmodal {
	overflow : auto;	
	font-family : 'Helvetica Neue';
	z-index:9999;
}

#helpmodal p {
	margin: .5em 2em;
	text-align: left;
}

#helpmodal h4 {
	color: #fd6808;
}

.asterisk {
	background-image: URL("../images/asterisk.png");
	width: 100px;
	height: 100px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
.asterisk {
	background-image: url("../images/asterisk@2x.png");
	background-size: 100px 100px;
}
}

#geppettologo {
	background-image: URL("../images/geppetto.png");
	width: 170px;
	height: 37px;
	left:5px;
	float: left;
	bottom: 5px;
	margin-bottom: 5px;
	position:absolute;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#geppettologo {
	background-image: url("../images/geppetto@2x.png");
	background-size: 170px 37px;
}
}

#position_toolbar {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

#sim_toolbar {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 460px;
	height: 100px;
}

#menu {
	position: absolute;
	left: 100px;
	top: 10px;
}


#helpInfoIcon {
	float : left;
}

.rotate90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

.dg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
.ui-widget {
}

.squareB {
	width: 25px !important;
	height: 25px !important;
	position: absolute;
	padding: 0;
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
	margin-left: 5px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

.popover {
	font-size: 14px;
	font-weight: 200;
}

#alertbox {
	display: none;
	margin-top: 20px;
	width: 330px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
	margin-left : -10px;
}

#loadSimModal .modal-input label {
	float: left;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

#loadSimModal .modal-body {
	overflow : visible;	
}

.btn-group .btn {
	width: 500px;
}

.btn span {
	float: left;
}

/* Overwrite Modal body overflow values.*/
.modal {
	overflow: visible;
}

#helpmodal .modal-body{
	overflow-y: auto;
}

.modal-body {
	overflow-y: visible;
	font-size: 15px;
	line-height: 24px;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu > li > a:hover {
	cursor: pointer;
}
.btn .caret {
	float: right;
}

.loading.modal.fade {
	top: -25%;
	background: rgba(255, 255, 255, 0);
}
.loading.modal.fade.in {
	top: 40%;
	background: rgba(255, 255, 255, 0);
}
.icon-4x {
	font-size: 4em;
}
.orange {
	color: #fd6808;
}

#loadSimModal {
	width: 700px;
}
#url {
	width: 515px;
	overflow: hidden;
}

#input label {
	float: left;
	width: 70px;
	padding-top: 0px;
}

.form-horizontal .controls {
	margin-left: 120px;
}

#fullscreen {
	position: absolute;
	top: 66px;
	right: 38px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

#javascriptFullscreen {
	position: absolute;
	top: 16px;
	right: 18px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.CodeMirror-fullscreen {
	display: block;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	z-index: 9999!important;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

#fullscreen:hover {
	color: gray;
}
.CodeMirror {
	border: 1px solid #cccccc;
	width: 500px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#consoleButton {
	margin: 0 auto;
	margin-bottom:26px;
	position: relative;
	background: rgba(66,59,59,0.50);
	color: #fd6808;
	bottom: -26px;
	border-color: #2e2828;
	border-width: 0;
	box-shadow:none;
	text-shadow: none;
	border-radius:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	width: 120px;
	height: 35px;
}

#consoleButtonContainer{
	width:120px;
	margin: 0 auto;
}

#consoleButton .icon-terminal{
	margin-right: 5px;
}

#sim {
	width: 100%;
	float: left;
	height: 100%;
}

#mainContainer {
	height: 100%
}

#footerHeader {
	position: relative;
	width: 100%;
	float: left;
	clear: none;
}

#infomodal {
	z-index : 9999;
	top : 35%;
}

#infomodal .modal-body{
	overflow: auto;
	max-height: 50%;
}

.smallText{
	margin-top:5px;
	font-size:10px;
	line-height:13px;
}
.sr-only{
	left: 25px;
	position: absolute;
	font-size: 10px;
	top: 135px;
}
#welcomeBody .progress{
	margin-top:5px;
	margin-bottom:30px;
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #fc6120;
  background-image: -moz-linear-gradient(top, #fd7c23, #fc6120);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd7c23), to(#fc6120));
  background-image: -webkit-linear-gradient(top, #fd7c23, #fc6120);
  background-image: -o-linear-gradient(top, #fd7c23, #fc6120);
  background-image: linear-gradient(to bottom, #fd7c23, #fc6120);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffd7c23', endColorstr='#fffc6120', GradientType=0);
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #27d5db;
  *background-color: #0e6c6f;
  background-image: -moz-linear-gradient(top, #27d5db, #0e6c6f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#27d5db), to(#0e6c6f));
  background-image: -webkit-linear-gradient(top, #27d5db, #0e6c6f);
  background-image: -o-linear-gradient(top, #27d5db, #0e6c6f);
  background-image: linear-gradient(to bottom, #27d5db, #0e6c6f);
  background-repeat: repeat-x;
  border-color: #0e6c6f #0e6c6f #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff27d5db', endColorstr='#ff0e6c6f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #0e6c6f;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fc6320;
  *background-color: #fc6320;
  background-image: -moz-linear-gradient(top, #fd7c23, #fc6320);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd7c23), to(#fc6320));
  background-image: -webkit-linear-gradient(top, #fd7c23, #fc6320);
  background-image: -o-linear-gradient(top, #fd7c23, #fc6320);
  background-image: linear-gradient(to bottom, #fd7c23, #fc6320);
  background-repeat: repeat-x;
  border-color: #fc6320 #fc6320 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffd7c23', endColorstr='#fffc6320', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #fc6320;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}


#close-welcomeMsg{
	width:120px;
}
#welcomeMessageModal {
	background-image: URL("../images/welcomebckg.png");
	width: 600px;
	height: 370px;
	top : 25%;
	padding:0;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#welcomeMessageModal {
	background-image: url("../images/welcomebckg@2x.png");
	background-size: 600px 370px;
}
}

.wmCheckBoxDiv {
	position:relative;
	margin-top:10px;
}
.wmCheckBoxDiv .label{
	background:none;
	text-shadow:none;
	font-weight:200;
}

.messageBody {
	margin-bottom:20px;
}

#welcomeBody{
	font-family : 'Helvetica Neue';
	color: white;
	overflow : hidden;
	top:80px;
	background:rgba(0,0,0,0.7);
	height:230px;
	margin:0 auto;
}

#welcomeMessageModal .modal-header {
	padding : 0px;
}

#multiUserNotification .modal-header {
	padding : 0px;
}

#capacityNotificationTitle {
	color : darkblue;
}

#multiUserNotification label {
	font-weight : bold;
}

#multiUserNotification{
	opacity : 0.9;
	width : 450px;
	top : 35%;	
}

#shareTab {
	top : 60px;
	right : 23px;
	position : absolute;
	z-index : 10;
}

#share {
	box-shadow: none;
	text-shadow: none;
	background: rgba(66,59,59,0.50);
	color : #fd6808;
	width : 57px;
	border : 0px;
}

#geppetto-share p {
	margin: 1em 0em;
}

#geppetto-share a {
	width: 30px;
}

.btn:focus {
	outline : none;
}

#geppetto-share {
	border: 1px solid #fd6808;
	background: rgba(66, 59, 59, 0.50);
	position: absolute;
	top: 50px;
	right: 10px;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 80px;
	height: auto;
	filter: alpha(opacity = 85);
	opacity: .85;
	padding-top : 30px;
}