body {
	background-color: #000000;
	margin: 0px;
	margin-top: 20px;
	overflow: hidden;
}

#logo-container {
	margin: 10px auto 0 auto;
	width: 100px;
}

#logo-image {
	height: 98px;
	width: 100px;
}

#consolealert {
	margin: 0 auto;
	margin-top: -10px;
	width: 315px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 200;
}

#infoalert {
	margin-top: 20px;
	width: 330px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 200;
}

#dialog-message {
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
}

p {
	text-align: center;
	margin: .5em 2em;
}
#geppettologo {
	background-image: URL("../images/geppetto.png");
	width: 200px;
	height: 66px;
	left: 5px;
	bottom: 10px;
	position: absolute;
}

#position_toolbar {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

#sim_toolbar {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 400px;
	height: 100px;
}

.rotate90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

.dg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
.ui-widget {
}

.squareB {
	width: 25px !important;
	height: 25px !important;
	position: absolute;
	padding: 0;
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
	margin-left: 5px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

.dialog {
	width: 500px;
	height: 300px;
}
.plot {
	width: 400px;
	height: 280px;
}

.ui-dialog-titlebar-close:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	/* sprites.less reset */
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	content: "\f00d";
}
.ui-dialog {
	opacity: 0.8
};