html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #000000;
	margin: 0px;
	margin-top: 20px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#logo-container {
	margin: 10px auto 0 auto;
	width: 100px;
}

#logo-image {
	height: 98px;
	width: 100px;
}

#consolealert {
	margin: 0 auto;
	margin-top: -10px;
	width: 300px;
	height: 80px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 200;
	overflow: auto;
}

#dialog-message {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

p {
	text-align: center;
	margin: .5em 2em;
}
#geppettologo {
	background-image: URL("../images/geppetto.png");
	width: 200px;
	height: 66px;
	left: 5px;
	float: left;
	position: relative;
	bottom: 0px;
}

#position_toolbar {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

#sim_toolbar {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 400px;
	height: 100px;
}

.rotate90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

.dg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
.ui-widget {
}

.squareB {
	width: 25px !important;
	height: 25px !important;
	position: absolute;
	padding: 0;
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
	margin-left: 5px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

.dialog {
	width: 500px;
	height: 300px;
}
.plot {
	width: 400px;
	height: 280px;
}

.ui-dialog-titlebar-close:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	/* sprites.less reset */
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	content: "\f00d";
}
.ui-dialog {
	opacity: 0.8
};

.popover {
	font-size: 14px;
	font-weight: 200;
}

#alertbox {
	display: none;
	margin-top: 20px;
	width: 330px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}

.modal-input label {
	float: left;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

.btn-group .btn {
	width: 500px;
}

.btn span {
	float: left;
}

/* Overwrite Modal body overflow values.*/
.modal {
	overflow: visible;
}

.modal-body {
	overflow-y: visible;
	font-size: 15px;
	line-height: 24px;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu > li > a:hover {
	cursor: pointer;
}
.btn .caret {
	float: right;
}

.loading.modal.fade {
	top: -25%;
	background: rgba(255, 255, 255, 0);
}
.loading.modal.fade.in {
	top: 40%;
	background: rgba(255, 255, 255, 0);
}
.icon-4x {
	font-size: 4em;
}
.orange {
	color: #fd6808;
}

#loadSimModal {
	width: 700px;
}
#url {
	width: 515px;
	overflow: hidden;
}

#input label {
	float: left;
	width: 70px;
	padding-top: 0px;
}

.form-horizontal .controls {
	margin-left: 120px;
}

#fullscreen {
	position: absolute;
	top: 66px;
	right: 38px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.CodeMirror-fullscreen {
	display: block;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	z-index: 9999!important;
}

#fullscreen:hover {
	color: gray;
}
.CodeMirror {
	border: 1px solid #cccccc;
	width: 500px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#bottomLayout {
	position: fixed;
	bottom: 0px;
	width: 100%;
	float: left;
}

#jsConsoleButton {
	background: transparent;
	color: rgb(102, 255, 0);
	bottom: -10px;
	right: 5px;
	border-color: rgb(102, 255, 0);
	position: relative;
	left: 35%;
	bottom: -10px;
}

#jsConsoleButton .icon-terminal{
	margin-right: 15px;
}

#sim {
	width: 100%;
	height: 80%;
	float: left;
}

#mainContainer {
	height: 100%;
}