html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

div#preloaded-images {
        position: absolute;
        overflow: hidden;
        left: -9999px;
        top: -9999px;
        height: 1px;
        width: 1px;
}

.icon-question-sign {
    margin-left: 5px;
    font-size: 20px;
}

.orange-color {
    color:#fd6808;
}

.orange-color-bg {
    background-color: #fd6808;
}

#help-modal {
    font-family : 'Helvetica Neue';
}

#help-button {
	background : linear-gradient(to bottom, #27d5db, #0e6c6f);
}

.btn-info {
	background : linear-gradient(to bottom, #27d5db, #0e6c6f);
}

#loading-modal {
    top : 10%;
}

#loading-modal .modal-content {
	width : 700px;
}

.welcome-modal {
    top : 15%;
    font-family: 'Helvetica Neue';
}

#help-modal h4 {
    color:#fd6808;
}

#help-modal h4.modal-title {
    text-align: center;
}

#help-modal .btn, #help-modal .label {
    margin-left:3px;
    margin-right:3px;
}

.welcome-modal .modal-body {
    background: url(../images/welcomebckg@2x.png);
    background-size: 600px 370px;
    width: 600px;
    height: 370px;
    border-radius: 4px;
}

.welcome-modal .message-container {
    color: #ffefef;
    padding: 20px;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.7);
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.welcome-modal .message-container button{
    margin-left:5px;
}

.welcome-modal .message-container .small-text {
    margin-top:10px;
    margin-bottom: 10px;
    font-size:10px;
    line-height:13px;
}

.welcome-modal .message-container .disable-welcome {
    margin-top:15px;
}

#logo-container {
	margin: 10px auto 0 auto;
	width: 100px;
}

#logo-image {
	height: 98px;
	width: 100px;
}

#dialog-message {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

.spinner-backdrop {
	width:100%;
	height:100%;
}

.spinner-container {
	position:absolute;
	left: 35%;
	top: 35%;
	width: 400px;
}

.spinner-container p {
	text-align: center;
	font-size: 18px;
}

.spinner-container .asterisk {
	background-image: URL("../images/asterisk.png");
	width: 100px;
	height: 100px;
	margin-left: 150px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
.asterisk {
	background-image: url("../images/asterisk@2x.png");
	background-size: 100px 100px;
}
}

#geppettologo {
	background-image: URL("../images/geppetto.png");
	width: 170px;
	height: 37px;
	left:5px;
	float: left;
	bottom: -15px;
	position: relative;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#geppettologo {
	background-image: url("../images/geppetto@2x.png");
	background-size: 170px 37px;
}
}

#github icon {
	left: 35px;
	top:250px;
	color:#555555;
	position:absolute;
	text-decoration: none;
}
#github icon:hover {
	color:white;
}

#position_toolbar {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 90px;
	height: 150px;
}

#quitTutorial {
	display : none;
	right: 13px;
	top: 50px;
	position : absolute;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

#sim-toolbar {
	position : fixed;
	padding-top: 6px;
    right: 5px;
    margin-right: 0;
}

.simulation-control > button {
    margin: 0px 3px;
}

#controls {
	padding-top: 6px;
}

#menu {
	position: absolute;
	left: 100px;
	top: 10px;
}


#helpInfoIcon {
	float : left;
}

.rotate90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

.dg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
.modal-header strong {
	font-size: 22px;
}

.modal-content {
	max-width: 700px;
}

.modal-footer {
	max-height: 60px;
}

.modal-footer .popover {
	position: relative;
}

.modal-dialog.fullscreen {
	width:95%;
	height:85%;
}

.squareB {
	width: 24px;
	height: 24px;
	position: absolute;
	padding: 1px;
}

.position-toolbar .pan-left {
	left: 10px;
	top: 35px;
}
.position-toolbar .pan-top {
	left: 35px;
	top: 10px;
}
.position-toolbar .pan-home {
	left: 35px;
	top: 35px;
}
.position-toolbar .pan-right {
	left: 60px;
	top: 35px;
}
.position-toolbar .pan-bottom {
	left: 35px;
	top: 60px;
}


.position-toolbar .rotate-left {
	left: 10px;
	top: 120px;
}
.position-toolbar .rotate-top {
	left: 35px;
	top: 95px;
}
.position-toolbar .rotate-home {
	left: 35px;
	top: 120px;
}
.position-toolbar .rotate-right {
	left: 60px;
	top: 120px;
}
.position-toolbar .rotate-bottom {
	left: 35px;
	top: 145px;
}

.position-toolbar .zoom-out {
	left: 35px;
	top: 210px;
}
.position-toolbar .zoom-in{
	left: 35px;
	top: 185px;
}


#mode {
	margin-bottom: 10px;
	margin-left: 5px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

#alertbox {
	display: none;
	margin-top: 20px;
	width: 330px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}

#loadSimModal .modal-input label {
	float: left;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

#loadSimModal .modal-body {
	overflow : visible;	
}



/* Overwrite Modal body overflow values.*/
.modal {
	overflow: hidden;
	overflow-y : hidden;
}

#help-modal {
	top : 10%;
}

#help-modal .modal-body{
	overflow-y : auto;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu > li > a:hover {
	cursor: pointer;
}
.btn .caret {
	float: right;
}

.icon-4x {
	font-size: 4em;
}
.orange {
	color: #fd6808;
}

#loadSimModal {
	width: 700px;
}
#url {
	width: 515px;
	overflow: hidden;
}

#input label {
	float: left;
	width: 70px;
	padding-top: 0px;
}



#fullscreen {
	position: absolute;
	top: 66px;
	right: 38px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

#fullscreen:hover {
	color: #fd6808;
}

#javascriptFullscreen {
	position: absolute;
	top: 16px;
	right: 18px;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

#javascriptFullscreen:hover {
	color: #fd6808;
}

.CodeMirror-fullscreen {
	display: block;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%!important;
	z-index: 9999!important;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

.expand-editor.icon-fullscreen {
	position: absolute;
	top: 70px;
	right: 15px;
}


.CodeMirror {
	border: 1px solid #cccccc;
	width: 95%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	max-height : 60%;
}

#console {
	width: 100%;
}

#consoleButton {
	margin: 0 auto;
	margin-bottom:26px;
	position: relative;
	background: rgba(66,59,59,0.80);
	
	color: #fd6808;
	bottom: -26px;
	border-color: #2e2828;
	border-width: 0;
	box-shadow:none;
	text-shadow: none;
	border-radius:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	width: 120px;
	height: 35px;
	z-index : 1000;
}

#consoleButtonContainer{
	width:120px;
	margin: 0 auto;
}

#consoleButton .icon-terminal{
	margin-right: 5px;
}

#sim {
	width: 100%;
	float: left;
	height: 100%;
}

#mainContainer {
	height: 100%
}

#footerHeader {
	position: relative;
	width: 100%;
	float: left;
	clear: none;
}

#infomodal {
	z-index : 9999;
	top : 35%;
}

#errormodal {
	z-index : 9999;
	top : 25%;
}

#error_code {
	font-size : 14px;
	color : #fd6808;
}

#errormodal p{
	text-align: left;
}

#error_exception{
	font-size: 12px;
	line-height: 18px;
}

#infomodal .modal-body{
	max-height: 50%;
}


.sr-only{
	left: 25px;
	position: absolute;
	font-size: 10px;
	top: 135px;
}
#welcomeBody .progress{
	margin-top:5px;
	margin-bottom:30px;
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #fc6120;
  background-image: -moz-linear-gradient(top, #fd7c23, #fc6120);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd7c23), to(#fc6120));
  background-image: -webkit-linear-gradient(top, #fd7c23, #fc6120);
  background-image: -o-linear-gradient(top, #fd7c23, #fc6120);
  background-image: linear-gradient(to bottom, #fd7c23, #fc6120);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffd7c23', endColorstr='#fffc6120', GradientType=0);
}

.welcomeButton{
	width:150px;
	margin-top:10px;
}
#welcomeMessageModal {
	background-image: URL("../images/welcomebckg.png");
	width: 600px;
	height: 370px;
	top : 25%;
	padding:0;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#welcomeMessageModal {
	background-image: url("../images/welcomebckg@2x.png");
	background-size: 600px 370px;
}
}

.wmCheckBoxDiv {
	position:relative;
	margin-top:20px;
}
.wmCheckBoxDiv .label{
	background:none;
	text-shadow:none;
	font-weight:200;
}

.messageBody {
	margin-bottom:20px;
}

#welcomeBody{
	font-family : 'Helvetica Neue';
	color: white;
	overflow : hidden;
	top:80px;
	background:rgba(0,0,0,0.7);
	height:230px;
	width:571px;
	margin:0 auto;
}


#welcomeMessageModal .modal-header {
	padding : 0px;
}

#multiUserNotification .modal-header {
	padding : 0px;
}

#capacityNotificationTitle {
	color : darkblue;
}

#multiUserNotification label {
	font-weight : bold;
}

#multiUserNotification{
	opacity : 0.9;
	width : 450px;
	top : 35%;	
}

#shareTab {
	bottom : 0px;
	right : 280px;
	position : fixed;
	z-index : 10;
}

#share {
	box-shadow: none;
	text-shadow: none;
	background: rgba(66,59,59,0.50);
	border-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color : #fd6808;
	width : 65px;
	height:32px;
	border : 0px;
}

#geppetto-share{
	width : 100px;
	text-align:center;
}

#geppetto-share p {
	margin: 1em 0em;
}

#geppetto-share a {
	width: 35px;
}

.btn:focus {
	outline : none;
}

#geppetto-share {
	background: rgba(66, 59, 59, 0.50);
	position: absolute;
	bottom: 0px;
	right: 280px;
	display: none;
	border-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 65px;
	height: auto;
	filter: alpha(opacity = 85);
	opacity: .85;
	padding-bottom : 30px;
}

.popover {
	transition: opacity .25s ease-in-out;
	font-size: 14px;
	font-weight: 200;
	width : auto;
	z-index: 9999;
}

.btn-tut {
	float : right;
	margin-top : 10px;
}

#simtutorial {
	float: left;
	margin-top: 14px;
	margin-left: 10px;
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

#simtutorial:hover{
	color: #fd6808;
}


/*Context Menu*/
.contextMenuView{
	z-index: 1000;
	display: inline-block;
	min-width: 120px;
	/*max-width: 250px;*/
	border: 1px solid #DDD;
	background: #EEE;
	margin: 0;
	padding: 0;
}

.contextMenuView ul{
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	border-bottom: 1px solid #DDD;
}

.contextMenuView li{
	padding: 2px 10px 2px 24px;
	background-color: #EEE;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;	
}

.contextMenuView li:hover {
    cursor: pointer;
    background-color: #39F;
}

.contextMenuView li.disabled {
    color: #666;
}

.contextMenuView li.disabled.hover {
    cursor: default;
    background-color: #EEE;
} 

.contextMenuView ul > li ul {
	display: none;
}

.contextMenuView li:hover > ul {
	display: block;
	-webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}
.contextMenuView > ul > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
    min-width: 100%;

}
.contextMenuView > ul > li li {
	/*min-width: 100%;*/
}
