.spinner-container .gpt-osb {
	width: 100px;
	font-size: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.osb-notification{
	position: absolute;
    height: 100px;
    width: 400px;
    top: 10px;
    left: 120px;
    text-align:center;
    border-radius:0;
}
