#controlpanel {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.griddle {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 75%;
    top: 25%;
}