#controlpanel {
	position: absolute !important;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	z-index: 99;
	height: 100%;
	width: 100%;
}

.griddle {
	position: absolute !important;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 75%;
	top: 20%;
}

.griddle-container {
	
}

.griddle .top-section {
	clear: both;
	display: table;
	width: 100%;
}

.griddle .griddle-filter {
	float: left;
	width: 99%;
	text-align: left;
	color: #FFFFFF;
	min-height: 1px;
	margin-bottom: 10px;
	background-color: rgba(66, 59, 59, 0.70);
}

.griddle .griddle-filter .form-control {
	color: #808080;;
	background-color: rgb(255, 255, 255);
	font-size: 22px !important;
	line-height: 30px !important;
	border: 2px solid #fd6808 !important;
}

.griddle .griddle-settings-toggle {
	float: left;
	width: 50%;
	text-align: right;
}

.griddle .griddle-settings {
	background-color: #FFF;
	border: 1px solid #DDD;
	color: #222;
	padding: 10px;
	margin-bottom: 10px;
}

.griddle .griddle-settings .griddle-columns {
	clear: both;
	display: table;
	width: 100%;
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 10px;
}

.griddle .griddle-settings .griddle-column-selection {
	float: left;
	width: 20%;
}

.griddle table {
	width: 100%;
	table-layout: fixed;
}

.img-column .tooltip-arrow {
	border-left-color: rgba(255, 255, 255, 0.7) !important;
}

.controlpanel-colorpicker {
	background-color: rgba(66, 59, 59, 0.70);
	border: 1px solid rgba(255, 255, 255, 0.25) !important;
	border-radius: 0px !important;
}

.colorpicker:after {
	border-bottom: 6px solid rgba(255, 255, 255, 0.27) !important;
}

.griddle th {
	background-color: rgba(66, 59, 59, 0.70);
	border: 0px;
	color: #FD6808;
	padding: 5px;
	text-align: center;
}

.griddle td {
	padding: 5px;
	background-color: rgba(66, 59, 59, 0.70);
	color: #FFF;
	border-bottom: 1px dashed;
	border-color: rgba(255, 255, 255, 0.2);
}

.griddle .footer-container {
	padding: 0px;
	color: #ffffff;
	border: 0px;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next
	{
	float: left;
	width: 33%;
	min-height: 1px;
	margin-top: 5px;
}

.griddle .griddle-page {
	text-align: center;
}

.griddle .griddle-next {
	text-align: right;
}

.thumbnail-img {
	width: 40px;
	display: block;
	margin: 0 auto;
	-webkit-filter: invert(17%);
	filter: invert(17%);
}

.thumbnail-img-tooltip {
	width: 160px;
	-webkit-filter: invert(19%);
	filter: invert(19%);
}

.tooltip-container {
	padding: 0px;
	border-radius: 0; opacity : 1;
	background-color: rgba(66, 59, 59, 0.70) !important;
	border: 1px solid rgba(255, 255, 255, 0.25) !important;
	box-shadow: none;
	opacity: 1;
}

.griddle button {
	backround: transparent;
	color: #FD6808;
}

.griddle button:hover {
	backround: transparent;
	color: #fc4b19;
}

.ctrlpanel-button {
	height: 25px;
	width: 33px;
	margin: 0px;
	background: none !important;
	color: #fd6808;
	font-size: 18px !important;
	border: 0 !important;
}

.ctrlpanel-button:hover {
	font-size: 20px !important;
	background: none !important;
	color: #fc4b19;
}

.img-column {
	width: 100px;
}