/*
  Icon Font: gpt-icons
*/

@font-face {
    font-family: "gpt-icons";
    src: url("../fonts/gpt-icons.eot?") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gpt-icons";
    src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA4wAA0AAAAAFSwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAOFAAAABkAAAAcc/dKrE9TLzIAAAGgAAAASQAAAGBP/FziY21hcAAAAhAAAABKAAABSuH5Ff9jdnQgAAACXAAAAAQAAAAEABEBRGdhc3AAAA4MAAAACAAAAAj//wADZ2x5ZgAAAngAAAozAAAPOL8cB19oZWFkAAABMAAAADAAAAA2A9OOf2hoZWEAAAFgAAAAIAAAACQD7wHFaG10eAAAAewAAAAjAAAAKA2SAAdsb2NhAAACYAAAABYAAAAWEKwMrm1heHAAAAGAAAAAIAAAACAAVwIkbmFtZQAADKwAAAEhAAACH57pqNRwb3N0AAAN0AAAADwAAABmuoXVC3jaY2BkYGAA4lPbjVvj+W2+MnAzMYDAxajlLDD6//f/u5g4GA8AuRwMYGkASRkMGHjaY2BkYGA88H8Xgx4Tw//vDAxMHAxAERTABQB+nQS3AAEAAAAKAfMACwAAAAAAAgAAAAEAAQAAAEAALgAAAAB42mNgYdzLOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGAQYECEhzTWFoYFD4yMp44P8BBj3GAwxuIDVIShQYGAEzSAuBAAAAeNpj2M0gyAACq4D4BAMDEwMCM375/51xAZA+//8/AHBDCJ8AeNpjYGBgZoBgGQZGBhBwAfIYwXwWBg0gzQakGRmYGBQ+sv7/D+QrfGT4////Y34WqHogYGRjgHMYmYAEEwMqYIRYMZwBAMn3COsAAAARAUQAAAAqACoAKgAqAXoCJgPEBpYHHAecAAB42o1XS48jVxWuc991612uhx/ddrftcU3P9LSn7bY9SWemeyavYRSSgAhigaIIKYkISEyyCewCBJEtESCxCysWCInMCpCQRor4AexBQkIKYsGGBWyiDN+1uyePFW21fZ/nnjr3nO/7ymNe5nneL+gFj3vaO3ifvOlj97Tw/jV7X8m/PHaPMzS997kblm74nlb00WP3yI3Ps3nWzLNR9s6br7xCL3z864zmsCY878E/mEfvesfem95vvX96XmtWz8uq7lNZaVUf4st9BlSqSqPTTNxndYMmi3KhF8vVctIsJtcJjdVyPqsrfMpClzG5RlMuCoWhjRHsmyybxWp5ZuQQjdWR27mYL/VQjdwqdzTOLSqly5Fa2zumarWcEo5aTVbrg7Bv2RwekDMzH2JXTPpQuXPWG+ApPHad1fHGs2a0OKDl4nA5cV13/HDy+yimihNxIRQXTCvGGZFktqoHaWCZiDD59hs5Y1aJbpzynyqexl2hLGP5G29jYySYDdJBXVkmibBdaSa4EsJZrSj+PkmKbZuRsEIQxijEGpUQdbNUY4ei84O1EMytyPwfhH6G/cSE0OcmSWFSp1mXKFFYHpJbIWCWWNvGOOZdRa2+Hcuk145NJCIrjSSW3Sm6WWbJGJtVyXA/JGvbAXVu1tRl1K9C52hY9Yl1qb7ZoaBtLYX7w6TKrDFks6xb3MkYwZiFURO3e4kc236LFFzwy9om9exmHF4ep6yIlJTkxxHWt+7kfqADK5TOur3IDE0vESLpoRH1uplWwmLaz++04GMU+ySligqWji+H8c1Zndi69Dl5nkF+3kd+3vcSb+CNvLm38p72XvV+7PK02qZCXaYhsu9oOZeb32PajI+acr6Qn1tTL0blhc+NrT7Tn5yPn9mpsOfhoPtVbvB8Er/L9+I8j0/dF3kPm6enDz7dodOHnZe6k0n3re7kxVs7D1unebzz/N08fsstOG/RW+fb4/xTzZdOT//2md5Ln/RO1/Ym3Z1bL37Sug9bd5/fcUsettZ1v44r7dAFmlCDeCairKsTQoE2A1rVJcp4Bgw4oYSpQp8wXSaEjhglhHrjfTZgJzxhJ1Q3CQ1oyg5HekCjZsCmAg3U65Ri1mc1VglYTLCkLnWpV43GVkKfdJ3Qqlk4K80BQ2FgvkABz+spP2CwW09p5GYnTcJPSE+pPmGLowOYQp8l1NQn7kiaH85xXD2fwqt5jSbKf7CBDQ0zq/UQO6xXWHvCRm4Z5g+opT+QKC7Jvj0NrahDjbJDIYco55yonUnOgjjAKGW0RVqwmEk/3anzq1oGglsepmEU2aQdBRnT4TAKpNHa95Wg1Pg5mVvdrI3QtRpTphHTsQhl7vucJxY2w908MarIrEVhMs7DSGiTtvztS/M6TaKQUSqMc0ky7eyRYAylzDIAUWpSnmStuhpu9f9vb06H1aPHiiJu/JDpLNBGylhZUsA9w4XWu5yTePyU7meV1Rln3/1KWlSUSbHXXYNSmOZXt8sOCfL7uz2lSrOzJRkFAcWCt3RmEzxQqgoRRDzPyRrELZSCFGJoeRLzAHiTpEmSmjhESCZ7F0jJHBgL0FQKOMxZEkoZDDK+3Q6ZsSopbRmXQ3yHvb1eu5wM0vEIeWuSlAzBX8Ylb3HDHfBm7ViNI/LDFjBTyNks3F7UFTwqXXDPPIJDEjdtWRrzUERwB9HMzPbtaShxCTmJoB0Z308uJaWwLSaA0OxDhsh8/JHxggf/ffAHZoBJv6LX6Uf0M/ol/Yb+SH+iP9Pf6d9rBp2tKe8yTZDSS0dIqxtitVwPHioNCgLJud5o2ExOCGTaTNYzqr5Bjq7OWGzNa450sQzc1RSqVOtBx3tYNiBnBmTcHDpKO980WrM0WO7AUa5j5XlVN2u2PES/dhbqau0CCnYyXTMlaq6qt0m5+ttQ7JShzuihK2ptQW84ebmaL1c32Gp54p5jUdazhWPoG0AITCwXR80ILmBXiQg0Z6ztNq61hGP+A+e0xixm9GpxNIpFQiM1ZZt9OGXu2Hu2dES+0R0Lpzvq5XWajDT8rNaODlXjPINJ95QVtIfSmzNrVa+PhTMTPZ85O24cCFB9YhPrEDc8yaQ+0w5zpw8ert54Dt/P5InzDAs+RJpzzlgAKn+ma40w4eiKaIdF5lsMk+y3I3Z7OlwEvSe5ktwIyiqRmnaRQA2IApIDlkKAgNKF6svacB+5L0KktF9vfengm4dIZx+dVW870jgrE72WigX+YgqMZgDhruigKJJAgk+54tQZCTE2HWVvPP3ay09s9aQuNMRRYMLp0ImL5AVwPuSDgLhx6gX/bSFtP604/oLW7vY1y51OufLq/hc71PKdIEJhykIR0zWR2oWmSA2S31WE5M6YYTzPWgkKjpU5aoSe6AVH/UtP+LWV3T1iTKetoAPgenQLHqBaAbaMcZVB0CySwJQ5Li2OaLD1TB8w9JMor/OWn5srAAjfCPYOz32JEjRdRX4XwcqkhAV+Qael4pEVPBBHajVkHJLCqjAPY9lwSVIwNWR+AnjTQpr+D9OWlFevCyAG9FzcKrBGUN8E7lHY1SsByBC4ANlXF1YwnmouemEOrWe4FDze4TTJgyend1/EbVoqnj21UiVRaTtm6GqUkW8UBI8Ip/bZrnU6cHsIjD8Ww7SMbPtb0kIxUWcVwuduuxVxu4Nk8ZUGx2Bvq9+QxJ0DkjUeu4Uza1PvfuH2l316bueZ7d1MVRISjEMDEqUl2x8Q1TiAQb8iPj4xs4/k84Ok7qSJidPoWs9pypc7Nm5FO6bomNBae2kP2pHVzyJ3DwPcA5BXwnlmMloaPxgnvRhCTtuLw+dqp2O//tqVWzYd4wz/co7jiPl50EPsoF9xhyAxH/iOfCRT+rixMIjrdtkWLhWeSqyf+9qKFOlKLExNhwcqUGleFT5Tx9f8qzMTRt1Y+Uzc1aQKX4AMBKsXnFtwErdJnHWlD32NKOE2skCCzNSlNBH8ApxIET+ITEkW5Cwkd7HbMWt98wG9R7/z9rxHvNve14DKDvCctoAiccixrv41mjIA8gZ23VDrMhUOdoFWi6MpkBlYXmyQenHkcECvIXI+2wDLz2UKh/Do1ch0ZtVw/5FRf/aNJu6SjthubfftyFcc9LdLNAj3wu8dW2NHF0PQiwkTCeY3cBl6GKuEot/xp3qP347i/bx/0Y5Dle2Pt1RokmhPKklHnfgwOelUp69vdT7+D63Sa2m3hcD40UUo6AIxwkFKW+mgBG8WgA3h0YMH3iv0V/qO91XPu7B2/Az4zh/bIe4wNkC2TWzc0wKeHfpPRsNYuHCshzavVw72wSkUXz+8Vha78cUtbRjSdYdFuGYZtSlgyEOBi2F1prpp2UNe8zQZVzWzbDzaidpJrlOCGAgijfix2Camm8Si3Kv3392fXhknidXGhIJDPgQMT4L3J+FqCtc/bsJCm4Ab5adpxhRrF75f+1tMjliikTh4XWMqHerxLl5x/wfFaWdBAHjahY6xasMwFEWvHDvgDqVk6Nq3FBKIjWySJUMpDngoZCpkbjBG0WIZ2UuWfkCnfkm/qB/TJ0UthQwxiHd0fd/VBXCLLwicvwc8BxZIMQaOkOAj8ASP+A4cIxX3gRPciSrwlHXFThGnfHvyW44FZngLHOEG74EneMFn4BgzEQVOQIICT1l/xRYGPU6w0FA4ckPCHA0WPEtIFFhjyVyxz3kG5h0Onjtga/qT1eo40rxZUCmL9ZIqY/VAu4PVbFCcPiJjd8MJHe9D9WOmG9Mx/lODUvv76Kfl7db3yLkJYcPnMu+su64ZVnx+W6M23Vgbq1oqc0kb+nuXuZTZKnN1rzXccwPLmvb/iLNdeu6n64R9awdtOpKyyKWUdCXwB988Ur8AAAB42mNgYgCD/wcYJBmwAS4gZmRgYmBmZGJkZmRhZGVkY2RnL83LdDM0MIDShlDaCEobQ2kTKG0KAPqODxcAAAAB//8AAnjaY2BgYGQAgouOfxaD6ajlLDAaAEvfBl8AAAA=") format("woff"),
    url("../fonts/gpt-icons.ttf") format("truetype"),
    url("../fonts/gpt-icons.svg#gpt-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "gpt-icons";
        src: url("../fonts/gpt-icons.svg#gpt-icons") format("svg");
    }
}

[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
.gpt-ion-channel:before,
.gpt-make-group:before,
.gpt-neuron:before,
.gpt-osb:before,
.gpt-pyramidal-cell:before,
.gpt-worm:before {
    display: inline-block;
    font-family: "gpt-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.gpt-ion-channel:before {
    content: "\f100";
}

.gpt-make-group:before {
    content: "\f101";
}

.gpt-neuron:before {
    content: "\f102";
}

.gpt-osb:before {
    content: "\f103";
}

.gpt-pyramidal-cell:before {
    content: "\f104";
}

.gpt-worm:before {
    content: "\f105";
}
