<div class="project-preview unselectable" project-id="{{id}}" title="{{name}}  Double-click to open project">
    <div class="row">
        <div class="img-thumbnail project-preview-tn" style="display: inline-block; width: 128px; min-width: 128px;">
        	<div class="geppettoSymbol"></div>
        </div>
    </div>
    
    <div class="row project-preview-caption">
        {{displayName}}
    </div>
</div>