#sim-toolbar {
    position : fixed;
    right: 5px;
    top:5px;
    margin-right: 0;
}

.simulation-controls {
    button {
        margin: 0px 3px;
        border: none;
    }
}

.SaveButton {
  position: fixed;
  top: 5px;
  right: 443px;
  height:27px
}
.SaveButton:disabled{
	background:0;
	color:#fc6320;
}

.HomeButton {
	position : fixed;
	top : 5px;
	right : 400px;
    height:27px
}