@import "../../../../style/less/components/colors";

.menuButtonIcon {
	padding-right: 5px;
}
.menuListContainer {
	z-index: 100 !important;
}
.dropDownButtonContainer {
	&:disabled {
		background: 0;
		color: @primary_color;
	}
	position: fixed;
	z-index: 99;
	height: auto;
	width: auto;
	background-color: @background_color_widget;
}
.dropDownTable {
	color: @primary_color;
	float: left;
	padding-right: 10px;
	white-space: nowrap;
	width: 100%;
	height: auto;
	overflow: hidden;
	label {
		float: left;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		font-size: 14px;
		&:hover {
			color: white;
		}
	}
	tr {
		&:not(:hover) {
			label {
				color: @primary_color;
			}
		}
		cursor: pointer;
		&:hover {
			background-color: @primary_color;
			color: white;
			label {
				color: white;
			}
		}
	}
}
.dropDownItem {
	display: inline-block;
}
.selectedStatus {
	width: 50px;
	padding-left: 15px;
}
.menuBtnListItem {
	text-align: left;
}
.dropDownLabel {
	padding: 5px 20px 5px 0;
}
