body {
  background-color: #ffffff;
  margin: 0px;
  margin-top:20px;
  overflow: hidden;
}

#logo-container {
  margin: 10px auto 0 auto;
  width: 100px;
}

#logo-image {
  height: 98px;
  width: 100px;
}
