<div class="row">
    <div class="col-md-7 projects dark-well row unselectable" id="projects">
        <div class="alert alert-info alert-dismissible dashboardAlert" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <strong>Hello!</strong> Double click on a project to open it, click on it to preview its content!
    	</div>
    </div>
    <div class="col-md-5 projects well row" id="project-details"></div>
</div>
<div id="errormodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="errormodal-header">
            <h3 id="errormodal-title" class="text-center">Experiment Failed</h3>
       </div>
      <div class="modal-body">
        <p id="errormodal-text"></p>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                     <a id="error_code" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                 </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                 <div class="panel-body">
                      <p id="error_exception"></p>
                 </div>
              </div>
        </div>
        <div class="modal-footer" id="errormodal-footer">
             <button id="errormodal-btn" class="btn" data-dismiss="modal" aria-hidden="true">
                    Close
              </button>
        </div>
    </div>

  </div>
</div>