<div class="row">
    <div class="col-md-7 projects dark-well row unselectable" id="projects">
        <div class="alert alert-info alert-dismissible dashboardAlert" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <strong>Hello!</strong> Double click on a project to open it, click on it to preview its content!
    	</div>
    </div>
    <div class="col-md-5 projects well row" id="project-details"></div>
</div>
<div id="errorModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="errormodal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 id="errormodal-title" class="text-center">Houston, We Have a Problem</h3>
       </div>
      <div class="modal-body">
        <p id="errormodal-text"></p>
      </div>
      <div class="modal-footer" id="errormodal-footer">
             <a class="btn" href="https://github.com/openworm/org.geppetto/issues/new" target="_blank" aria-hidden="true">
                   <i class="fa fa-bug"></i> Open issue
              </a>
             <button id="errormodal-btn" class="btn" data-dismiss="modal" aria-hidden="true">
                    Close
              </button>
       </div>
    </div>

  </div>
</div>
Try it Yourself »
