<div class="row">
    <div class="col-md-7 projects dark-well row unselectable" id="projects">
        <div class="alert alert-info alert-dismissible dashboardAlert" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <strong>Hello!</strong> Double click on a project to open it, click on it to preview its content!
    	</div>
    </div>
    <div class="col-md-5 projects well row" id="project-details"></div>
</div>