<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GEPPETTO Client Unit Test</title>
<link rel="stylesheet" href="css/qunit.css">
<link rel="stylesheet" href="css/custom-theme/jquery-ui-1.10.0.custom.css" />

<script type="text/template" id="tplSandbox">
		<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" id="commandInputArea" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>

<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>

<script type="text/template" id="tplDebug"><span class="<%= _class %>"><%= result %></span></script>
<script data-main="js/main-test.js" src="js/vendor/require.js"></script>

</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture">
		<div id="sim"></div>	
		<div id="console">Console Loading...</div>
		
		<div id="javascriptEditor" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="jsEditor-title" aria-hidden="true"
		data-backdrop="static" data-keyboard="false" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">x</button>
			<h3 id="jsEditor-title"></h3>
		</div>
		<div class="modal-body">
			<div class="controls">
				<textarea id="javascriptCode" name="javascriptCode"></textarea>
				<button id="javascriptFullscreen" type="button" class="button icon-fullscreen"></button>
			</div>
		</div>
		<div class="modal-footer">
			<button id="jsEditor-btn" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">OK</button>
		</div>
	</div>
	</div>
</body>
</html>