<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>geppetto</title>

		<!-- Third-party js libraries -->
		<script src="js/vendor/jquery-1.9.1.js"></script>
		<script src="js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="js/vendor/three.min.js"></script>
		<script src="js/vendor/TrackballControls.js"></script>
		<script src="js/vendor/dat.gui.js"></script>
		<script src="js/vendor/stats.min.js"></script>
		<script src="js/vendor/THREEx.KeyboardState.js"></script>
		<script src="js/vendor/Detector.js"></script>
		<script src="js/vendor/ColorConverter.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/jquery.flot.min.js"></script>
		<script src="js/vendor/rAF.js"></script>
		<script src="js/vendor/codemirror.js"></script>
		<script src="js/vendor/xml.js"></script>
		<script src="js/vendor/formatting.js"></script>

		<!-- Geppetto -->
		<script src="js/GEPPETTO.js"></script>
		<script src="js/GEPPETTO.Simulation.js"></script>
		<script src="js/GEPPETTO.Vanilla.js"></script>
		<script src="js/GEPPETTO.SimulationContentEditor.js"></script>
		<script src="js/GEPPETTO.JSConsole.js"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" href="css/jquery.fancybox.css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom-theme/jquery-ui-1.10.0.custom.css" />
		<link rel="stylesheet" href="css/codemirror.css" />
		<link rel="stylesheet" href="css/lesser-dark.css" />
		<link rel="stylesheet" href="css/sandbox.css" />

	</head>
	<link rel="icon" 
      type="image/png" 
      href="images/favicon.png"/>
	<body>
	<div id="controls">

		<div id="sim_toolbar">
			<a href="#loadSimModal" role="button" class="btn" data-toggle="modal"
				data-keyboard="false" id="openload"><icon
					class="icon-folder-open-alt"></icon> Load Simulation</a>
			<button class="btn" id="start">
				<icon class="icon-play"></icon>
				Start
			</button>
			<button class="btn" id="pause">
				<icon class="icon-pause"></icon>
				Pause
			</button>
			<button class="btn" id="stop">
				<icon class="icon-stop"></icon>
				Stop
			</button>

			<!-- Alert box used when visitor in observing simulation -->
			<div id="alertbox" class="alert alert-block">
				<a class="close" data-dismiss="alert">×</a>
				<h4 class="alert-heading" align="center">
					<i class="icon-info-sign icon-2x" id="infopopover" rel="popover"
						data-placement="left" data-trigger="hover"></i>Observing
					Simulation Mode
				</h4>
				<p id="alertbox-text"></p>
			</div>
		</div>

		<div id="position_toolbar">
			<button class="btn squareB icon-chevron-left" id="w"></button>
			<button class="btn squareB icon-chevron-up" id="n"></button>
			<button class="btn squareB icon-chevron-right" id="e"></button>
			<button class="btn squareB icon-chevron-down" id="s"></button>
			<button class="btn squareB icon-home" id="h"></button>

			<button class="btn squareB icon-undo" id="rw"></button>
			<button class="btn squareB icon-repeat rotate90" id="rn"></button>
			<button class="btn squareB icon-repeat" id="re"></button>
			<button class="btn squareB icon-undo rotate90" id="rs"></button>
			<button class="btn squareB icon-home" id="rh"></button>

			<button class="btn squareB icon-zoom-in" id="zi"></button>
			<button class="btn squareB icon-zoom-out" id="zo"></button>
			<br />
		</div>
	</div>
	<!--
		<div id="toolbar">
		<div id="mode" class="btn-group" data-toggle="buttons-radio">
		<button class="btn active" id="normalMode" checked="checked">Normal mode</button>
		<button class="btn"  id="selectionMode" checked="checked">Selection mode</button>
		</div>
		<div id="io" class="btn-group" data-toggle="buttons-checkbox">
		<button class="btn squareB icon-signin active" id="showinputs"   ></button>
		<button class="btn squareB icon-signout active" id="showoutputs"></button>
		<button class="btn squareB icon-filter active" id="showdeselected" ></button>
		</div>
		<div>
		<button class="btn squareB icon-refresh" data-toggle="button" id="rotationMode"></button>
		<button class="btn squareB icon-info-sign" id="helpbutton" href="#help" data-toggle="modal"></button>
		</div>
		</div>
		</div>
		-->
		<div id="consolealert" class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<div id="console"></div>
		</div>

		<div id="sim"></div>
		<div id="bottomLayout">
			<div id="geppettologo"></div>
			<button class="btn pagination-right" id="jsConsoleButton">
			<icon class="icon-terminal"></icon>
			JS Console
			</button>
				<div id="jsConsole" class="hide">Console Loading...</div>
		</div>
	<div id="loadSimModal" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Load Simulation</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<div id="radioDiv" class="modal-input">
						<div class="controls">
							<label class="radio inline"> <input type="radio"
								name="optionsRadios" id="urlRadio" value="active" checked>URL
							</label> <label class="radio inline"> <input type="radio"
								name="optionsRadios" id="customRadio" value="inactive">Custom
							</label>
						</div>
					</div>
				</div>
				<div id="urlInput" class="control-group">
					<div id="input" class="modal-input">
						<label class="control-label" for="url">URL</label>
						<div class="controls">
							<input class="input-d\xlarge" id="url" type="text"
								placeholder="Paste the URL of the simulation file...">
						</div>
					</div>
				</div>
				<div id="customInputDiv" class="control-group hide">
					<div id="input" class="modal-input">
						<label class="control-label">Content</label>
						<div class="controls">
							<textarea id="code" name="code"></textarea>
							<button id="fullscreen" type="button"
								class="button icon-fullscreen"></button>
						</div>
					</div>
				</div>
				<div id="samplesDiv" class="control-group">
					<div id="input" class="modal-input">
						<label class="control-label" for="dLabel">Samples</label>
						<div class="controls">
							<div class="btn-group">
								<a class="btn dropdown-toggle" id="dLabel"
									data-toggle="dropdown" href="#"><span
									id="dropdowndisplaytext">Select simulation from list...</span><b
									class="caret"></b></a>
								<ul class="dropdown-menu" id="dropdownmenu"
									aria-labelledby="dLabel">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
			<button id="load" class="btn btn-warning">Load</button>
		</div>
	</div>

	<div id="infomodal"  class="modal hide fade" tabindex="-1"  aria-labelledby="infomodal-title" aria-hidden="true" data-backdrop="static">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="infomodal-title"></h3>
			</div>
			<div class="modal-body">
				<p id="infomodal-text">
				</p>
			</div>
			<div class="modal-footer">
				<button  id="infomodal-btn" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
					Ok
				</button>
			</div>
		</div>
		
		<div id="loadingmodal" class="loading modal hide well fade lead pagination-centered" data-keyboard="false" data-backdrop="static">
			<i class="icon-asterisk icon-4x icon-spin orange"></i>
			<p id="loadingmodaltext" class="orange"></p>
		</div>		
		<script type="text/template" id="tplSandbox">
		<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>
	
	<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
	<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>

		<!-- The sandbox template: -->
		<script src="js/vendor/underscore.min.js"></script>
		<script src="js/vendor/backbone.min.js"></script>
		<script src="js/vendor/backbone-localStorage.min.js"></script>
		<script src="js/vendor/sandbox-console.js"></script>
</body>
</html>