<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>geppetto</title> 
		
		<script data-main="js/main.js" src="js/vendor/require.js"></script>
				
		<!-- CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/custom-theme/jquery-ui-1.10.0.custom.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/codemirror.css" />
		<link rel="stylesheet" href="css/lesser-dark.css" />
		<link rel="stylesheet" href="css/jsConsole.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<link rel="icon" 
      type="image/png" 
      href="images/favicon.png"/>
	<body>
	<div id="preloaded-images">
            <img src="images/welcomebckg.png" width="1" height="1" alt="" />
            <img src="images/welcomebckg@2x.png" width="1" height="1" alt="" />
    </div>
	<div id="controls">

		<div id="sim_toolbar">
			<a href="#loadSimModal" role="button" class="btn" data-toggle="modal"
				data-keyboard="false" id="openload" disabled="disabled"><icon
					class="icon-folder-open-alt"></icon> Load Simulation</a>
			<button class="btn" id="start" disabled="disabled">
				<icon class="icon-play"></icon>
				Start
			</button>
			<button class="btn" id="pause" disabled="disabled">
				<icon class="icon-pause"></icon>
				Pause
			</button>
			<button class="btn" id="stop" disabled="disabled">
				<icon class="icon-stop"></icon>
				Stop
			</button>
			<button class="btn btn-info" id="helpButton">
				<icon class="icon-info-sign"></icon>
				Help
			</button>
			<!-- Alert box used when visitor in observing simulation -->
			<div id="alertbox" class="alert alert-block">
				<a class="close" data-dismiss="alert">×</a>
				<h4 class="alert-heading" align="center">
					<i class="icon-info-sign icon-2x" id="infopopover" rel="popover"
						data-placement="left" data-trigger="hover"></i>Observing
					Simulation Mode
				</h4>
				<p id="alertbox-text"></p>
			</div>
		</div>

		<div id="position_toolbar">
			<button class="btn squareB icon-chevron-left" id="w"></button>
			<button class="btn squareB icon-chevron-up" id="n"></button>
			<button class="btn squareB icon-chevron-right" id="e"></button>
			<button class="btn squareB icon-chevron-down" id="s"></button>
			<button class="btn squareB icon-home" id="h"></button>
			
			<button class="btn squareB icon-undo" id="rw"></button>
			<button class="btn squareB icon-repeat rotate90" id="rn"></button>
			<button class="btn squareB icon-repeat" id="re"></button>
			<button class="btn squareB icon-undo rotate90" id="rs"></button>
			<button class="btn squareB icon-home" id="rh"></button>

			<button class="btn squareB icon-zoom-in" id="zi"></button>
			<button class="btn squareB icon-zoom-out" id="zo"></button>
			<br />
		</div>
		
		<!-- Used for popovers, otherwise they would be too small to display -->
		<div id ="rotation"></div>
		<div id="zoom"></div>
		
		<div id="github">
			<a href="https://github.com/openworm/org.geppetto" target="_blank"><icon class="icon-github icon-2x" id="git"></icon></a>
		</div>

	

		<div class="modal fade hide" id="helpmodal" tabindex="-1" role="dialog" aria-hidden="true" >
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn btn-info pull-right"
								aria-hidden="true" onClick="window.open('http://docs.geppetto.org');">
								<icon class="icon-file-text"></icon>
								Docs</button>
							<h4 class="modal-title pagination-centered" id="helpmodalheader">Quick help</h4>
						</div>
						<div class="modal-body">
							<h4>Navigation Controls</h4>
							<p>
							<strong>Rotation</strong>
							<br>Left click and drag with the mouse to rotate.<br>
							<strong>Pan</strong>
							<br>Right click and drag with the mouse to pan.<br>
							<strong>Zoom</strong>
							<br>Wheel click and move your mouse up and down to zoom in and out.
							<br>In addition, you can use the buttons in the upper left corner. The
							Home button resets the view.<br>
							<h4>Shortcuts List</h4>
							<p>
							Press <a class="btn btn-default">Ctrl</a><a class="btn btn-default">Alt</a><a class="btn btn-default">J</a> 
							to toggle the Javascript Console<br>
							<br>Press <a class="btn btn-default">Ctrl</a><a class="btn btn-default">Alt</a><a class="btn btn-default">P</a> 
							to bring up a plotting widget<br>
							<br>
							</p>
							<h4>Geppetto Console</h4>
							<p>
							The console provides a way to interact with Geppetto without having to use the UI controls. 
							Through the console, user can control the simulation and use the other features available.<br> 
							<br><strong>Commands</strong>
							<br>Open the console and type help() in it to view list of available commands, a description on 
							how to use each one of them is also provided.<br>
							<br><strong>Autocompletion</strong>
							<br>Console autcompletes command once you are start typing, pressing double <a class="btn btn-default">Tab</a>
							provides list of available commands that match the entered input.<br> 
							<br>
							<h4>Loading a Simulation</h4>
							<p>
							<strong>Using Controls</strong>
							<br>Use <a class="btn btn-default">Load Simulation</a> button on top right corner to 
							load a simulation, a drop down menu with simulation samples ready to load is available. 
							The content of the simulation file can be seen by selecting the Custom option after selecting or entering
							a simulation, using this feature the contents of the simulation file can be modified prior to loading. <br>
							<br><strong>Using console</strong>
							<br>Simulations can be loaded via console using commands
							<a class="label label-default">Simulation.load(simulationURL)</a> and
							<a class="label label-default">Simulation.loadFromContent(simulationContent)</a>.<br>
							<br><strong>Passing as parameter in URL</strong>
							<br>A simulation can be specified as a paramater in the Geppetto URL, this will automatically load the simulation 
							when Geppetto is launched. To use this feature add "?sim=simulationURL" to the end of Geppetto's url, where 
							simulationURL corresponds to the location of the simulation you want to load.<br>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-dismiss="modal"
								aria-hidden="true">Close</button>
						</div>
					</div>
				</div>
			</div>

	</div>
	<!--
		<div id="toolbar">
		<div id="mode" class="btn-group" data-toggle="buttons-radio">
		<button class="btn active" id="normalMode" checked="checked">Normal mode</button>
		<button class="btn"  id="selectionMode" checked="checked">Selection mode</button>
		</div>
		<div id="io" class="btn-group" data-toggle="buttons-checkbox">
		<button class="btn squareB icon-signin active" id="showinputs"   ></button>
		<button class="btn squareB icon-signout active" id="showoutputs"></button>
		<button class="btn squareB icon-filter active" id="showdeselected" ></button>
		</div>
		<div>
		<button class="btn squareB icon-refresh" data-toggle="button" id="rotationMode"></button>
		<button class="btn squareB icon-info-sign" id="helpbutton" href="#help" data-toggle="modal"></button>
		</div>
		</div>
		</div>
		-->
	<div id="mainContainer">
		<div id="sim"></div>

		<div id="footer">
			<div id="footerHeader">
				<div id="geppettologo"></div>
				<div id="consoleButtonContainer">		
					<button class="btn" data-clipboard-target="clipboard_text" id="consoleButton">
						<icon class="icon-terminal"></icon>
						Console
					</button>
				</div>

				<div id="console">Console Loading...</div>
			</div>
		</div>
	</div>
	<div id="shareTab">
		<button class="btn" id="share">
			<icon class="icon-share icon-xlarge"></icon>
		</button>
	</div>
	<div id="geppetto-share" class="col-md-1 share-panel">
        	<p>
        	<a class="btn btn-warning" onclick="G.shareOnFacebook()">
        	<i class="icon-xlarge icon-facebook"></i></a></p>
			<p><a class="btn btn-warning" onclick="G.shareOnTwitter()"><i class="icon-xlarge icon-twitter"></i></a></p>
			<!-- Commented until fully implemented <p><a class="btn btn-warning" href="#email"><i class="icon-xlarge icon-envelope"></i></a><p>-->
   	</div>
	
	<div id="loadSimModal" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Load Simulation</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<div id="radioDiv" class="modal-input">
						<div class="controls">
							<label class="radio inline"> <input type="radio"
								name="optionsRadios" id="urlRadio" value="active" checked>URL
							</label> <label class="radio inline"> <input type="radio"
								name="optionsRadios" id="customRadio" value="inactive">Custom
							</label>
						</div>
					</div>
				</div>
				<div id="urlInput" class="control-group">
					<div id="input" class="modal-input">
						<label class="control-label" for="url">URL</label>
						<div class="controls">
							<input class="input-d\xlarge" id="url" type="text"
								placeholder="Paste the URL of the simulation file...">
						</div>
					</div>
				</div>
				<div id="customInputDiv" class="control-group hide">
					<div id="input" class="modal-input">
						<label class="control-label">Content</label>
						<div class="controls">
							<textarea id="xmlCode" name="xmlCode"></textarea>
							<button id="fullscreen" type="button"
								class="button icon-fullscreen"></button>
						</div>
					</div>
				</div>
				<div id="samplesDiv" class="control-group">
					<div id="input" class="modal-input">
						<label class="control-label" for="dLabel">Samples</label>
						<div class="controls">
							<div class="btn-group" id="samples">
								<a class="btn dropdown-toggle" id="dLabel"
									data-toggle="dropdown" href="#"><span
									id="dropdowndisplaytext">Select simulation from list...</span><b
									class="caret"></b></a>
								<ul class="dropdown-menu" id="dropdownmenu"
									aria-labelledby="dLabel">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
			<button id="load" class="btn btn-warning">Load</button>
		</div>
	</div>
	
	<div id="javascriptEditor" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="jsEditor-title" aria-hidden="true"
		data-backdrop="static" data-keyboard="false" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3 id="jsEditor-title"></h3>
		</div>
		<div class="modal-body">
			<div class="controls">
				<textarea id="javascriptCode" name="javascriptCode"></textarea>
				<button id="javascriptFullscreen" type="button" class="button icon-fullscreen"></button>
			</div>
		</div>
		<div class="modal-footer">
			<button id="jsEditor-btn" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">OK</button>
		</div>
	</div>
	
	<div id="infomodal"  class="modal hide fade" tabindex="-1"  aria-labelledby="infomodal-title" aria-hidden="true" data-backdrop="static">
			<div class="modal-header" id="infomodal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="infomodal-title" class="pagination-centered"></h3>
			</div>
			<div class="modal-body">
				<p id="infomodal-text">
				</p>
			</div>
			<div class="modal-footer" id="infomodal-footer">
				<button  id="infomodal-btn" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
					Ok
				</button>
			</div>
		</div>
		
		<div id="errormodal"  class="modal hide fade" tabindex="-1"  aria-labelledby="errormodal-title" aria-hidden="true" data-backdrop="static">
			<div class="modal-header" id="errormodal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="errormodal-title" class="pagination-centered"></h3>
			</div>
			<div class="modal-body">
				<p id="errormodal-text">
				</p>
				<div class="panel panel-default">
    				<div class="panel-heading">
      				<h4 class="panel-title">
        			<a id="error_code" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
      				</h4>
    				</div>
    				<div id="collapseOne" class="panel-collapse collapse">
      				<div class="panel-body">
      					<p id="error_source"></p>
      					<p id="error_exception"></p>
      				</div>
    				</div>
 	 			</div>
			</div>
			<div class="modal-footer" id="errormodal-footer">
				<button  class="btn btn-warning" onclick="GEPPETTO.Share.twitter('http://geppetto.org','Whoops, I broke Geppetto! @openworm help!');" aria-hidden="true">
					<icon class="icon-twitter"></icon> Shame on you
				</button>
				<button  class="btn btn-warning" onclick="window.open('https://github.com/openworm/org.geppetto/issues/new')" aria-hidden="true">
					<icon class="icon-bug"></icon> Open issue
				</button>
				<button  id="errormodal-btn" class="btn btn-info" data-dismiss="modal" aria-hidden="true">
					Close
				</button>
			</div>
		</div>
		
		<div id="loadingmodal" class="loading modal hide well fade lead pagination-centered" data-keyboard="false" data-backdrop="static">
			<div class="asterisk icon-spin"></div>
			<p id="loadingmodaltext" class="orange"></p>
		</div>	
		
		<div id="welcomeMessageModal" class="modal hide well fade lead pagination-centered" data-backdrop="static" data-keyboard="false" tabindex="-1">
			<div id="welcomeBody" class="modal-body">
				<div class="messageBody">
					<strong>Welcome to geppetto!</strong> geppetto is an open-source platform designed by engineers together with scientists to 
					simulate complex biological systems and their surrounding environment. 
					This is an <strong>early access</strong> development release.<br/>
					<div class="smallText">
					We worked hard to bring you the best possible alpha release but geppetto is still very much a platform under development. 
					In fact we reckon this only represents about 20% of what you can expect in the end. We hope you'll enjoy it.</div>
				</div>
				<button  id="startTutorial" class="btn btn-success welcomeButton" data-dismiss="modal" aria-hidden="true">
					Loading...
				</button>
				<button  id="skipTutorial" class="btn btn-success welcomeButton" data-dismiss="modal" aria-hidden="true">
					<icon class="icon-step-forward"></icon> Skip Tutorial
				</button>
				<br/>
				<div class="wmCheckBoxDiv">
					<span class="input-group-addon">
	    				<input id="welcomeMsgCookie" type="checkbox">
	  				</span>
	  				<span class="label">Don't show next time I visit Geppetto</span>
	  			</div>
			</div>
		</div>		
		<div id="multiUserNotification" class="modal hide well fade lead pagination-centered" data-keyboard="false" data-backdrop="static">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 id="capacityNotificationTitle"></h4>
			</div>
		<div class="modal-body">
			<div>
				<div class="messageBody">
					All the seats to drive Geppetto are currently taken. The number below shows your position 
					in the waiting queue. If you close this window you will loose your waiting spot.
				</div>
				<h3 id="queuePosition"></h3>
			</div>
		</div>
		</div>
		<!-- The sandbox template: -->
		<script type="text/template" id="tplSandbox">
			<pre class="output"></pre>
			<div class="input">
				<textarea rows="1" id="commandInputArea" placeholder="<%= placeholder %>"></textarea>
			</div>
		</script>
	
		<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
		<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>

		<script type="text/template" id="tplDebug"><span class="<%= _class %>"><%= result %></span></script>		
		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-45841517-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
  	
  	
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-45841517-1', 'geppetto.org');
		  ga('send', 'pageview');
		</script>
		<!-- begin olark code -->
		<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
		f[z]=function(){
		(a.s=a.s||[]).push(arguments)};var a=f[z]._={
		},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
		f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
		0:+new Date};a.P=function(u){
		a.p[u]=new Date-a.p[0]};function s(){
		a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
		hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
		return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
		b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
		b.contentWindow[g].open()}catch(w){
		c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
		var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
		b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
		loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('3330-945-10-6280');/*]]>*/</script>
		<noscript><a href="https://www.olark.com/site/3330-945-10-6280/contact" title="Contact us" id="contact" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
		<!-- end olark code -->
</body>
</html>
